/* seletor universal */
* {
    margin: 0;
    padding: 0;
}

/* seletor de tag */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* seletor de elementos aninhados */
nav a {
    color: #27ae60;
}

/* seletor de filhos */
/* O seletor .genres > li em CSS utiliza o combinador de filho direto (>), 
que seleciona todos os elementos <li> que são filhos diretos de um elemento com a classe genres. 
Isso significa que apenas os <li> que estão imediatamente dentro de .genres serão estilizados. */
nav > a {
    display: block;
    color: #f5a623;
    padding: 10px;
}

/* seletor de classes */
.laranja {
    color: #f5a623;
}
.verde {
    color: #27ae60;
}

/* seletor de id */
#secao-principal {
    padding: 20px;
    text-align: center;
}

/* combinação de seletores */
#secao-principal > * {
    margin-top: 10px;
}

input {
    display: block;
    padding: 5px;
    margin: 5px;
}

/* seletor de sequência */
input + input {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* O seletor input ~ input no CSS utiliza o combinador de irmãos gerais (~) 
para aplicar estilos a todos os elementos <input> que são irmãos (ou seja, 
compartilham o mesmo elemento pai) e aparecem após outro <input>, não necessariamente imediatamente após.*/
input ~ input {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 + p {
    padding: 30px;
}

/* seletores de propriedade */
input[name="email"] {
    background-color: #f5a623;
}

input[type="password"] {
    background-color: #27ae60;
}